.homepage {
    background-image: url("./images/cross-paddles.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
}

h1,
.versus {
    text-align: center;
    margin-bottom: 30%;
}

.right-player {
    position: relative;
    top: 250%;
    margin-right: -25%;
}

.left-player {
    position: relative;
    top: 250%;
}
.player-scores {
    text-align: center;
}
